# ==========================================
# VARIABLES DE ENTORNO
# ==========================================

.env
.env.local
.env.development
.env.production
.env.*.local

# ==========================================
# NODE
# ==========================================

node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ==========================================
# VITE
# ==========================================

dist/
.vite/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# SISTEMA
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# LOGS
# ==========================================

logs/
*.log